
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">about us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">blog</a>
        </li>
        <p-button class="p-button-text mt-2 mx-4" (click)="toggleTheme()">
          <i [ngClass]="isDarkMode ? 'pi pi-sun' : 'pi pi-moon'" class="text-info"></i>
        </p-button>
      </ul>

    </div>
  </div>
</nav>

  <div class="container mt-5">
    <!-- Header -->
    <h2 class="text-center mb-4">{{ isEditing ? 'Edit' : 'Add' }} User</h2>
  
    <!-- Form -->
    <form (ngSubmit)="isEditing ? updateUser() : addUser()">
      <!-- Input Fields and Button -->
      <div class="d-flex flex-wrap align-items-end gap-3">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            [(ngModel)]="user.name"
            name="name"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="user.email"
            name="email"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            type="text"
            id="phone"
            [(ngModel)]="user.phone"
            name="phone"
            class="form-control"
            required
          />
        </div>
        <div>
          <button type="submit" class="btn btn-primary">
            {{ isEditing ? 'Update' : 'Add' }}
          </button>
        </div>
      </div>
    </form>
  
    <!-- User Table -->
    <h2 class="text-center mt-5">CRUD App</h2>
    <div class="table-responsive mt-3">
      <table class="table table-bordered shadow-sm p-2">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone}}</td>
            <td>
              <button class="btn btn-info text-white btn-sm mt-1 mx-2" (click)="editUser(user)">
                Edit
              </button>
              <button
                class="btn btn-danger text-white btn-sm mx-2 mt-1"
                (click)="deleteUser(user.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  








  


  
  














 
  









  