
.text-box{
    border-radius: 20px;
    
    padding: 13px;
    width: 300px;
    font-size: 20px;
    margin-left: 150px;

}
.button-plus{
    border: none !important;
    height: 45px;
    font-size: 15px;
    padding: 13px;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(192, 147, 33);
}
.button-remove{
    font-size: 18px;
    padding: 13px;
    cursor: pointer;
    border: none !important;
    background-color: rgb(192, 147, 33);
    width: 100px;
}
li{
    list-style: none !important;
    width: 300px;
}
.main{
width: 100%;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
  }
  
  .todo-content {
    display: flex;
    align-items: center;
  }
  
  .todo-content input {
    margin-right: 10px;
  }
  
  /* .button-action {
    margin-left: 5px;
  } */
input{
  width: 300px;
}